body{
   
    background: url('../images/fondo_login.jpg');*/
    background-repeat: no-repeat fixed center center;
    background-size: 1920px 1500px;      
}

p{
font-family: roboto;
font-size: 24px;
color: #fff;

}

h3{

font-family: roboto;
color: #fff;

}


.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}


.container{
    background-color: rgba(12,9,1, 0.4);;
    margin-top: 10%;
    border-radius: 38px 110px 38px 156px;
    width: 700px;
    height: 450px;
    align-content: center;
    /*border: 2px dashed #edeaed;*/


}

.boton_ingresar{
    text-decoration: none;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 17px;
    color: #ffffff;
    border-radius: 12px;
    border: 1px solid #f6f6f8;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 6px;
    
      }
.boton_ingresar:hover{
    color: #fff;
    background-color: #2790b3;
  }


    
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

strong { font-weight: 500; }


}

h1, h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
    font-size: 22px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
}

img { max-width: 100%; }

::-moz-selection { background: #de615e; color: #fff; text-shadow: none; }
::selection { background: #de615e; color: #fff; text-shadow: none; }




